.side-bar{
    background-color:#BABFD1 ;
    display: flex;
    flex-direction: column;
    min-height: 95vh;
    width: 35%;
    &__title{
        font-size: 32px;
        font-weight: 600;
        color: white;
        justify-content: center;
        display: flex;
    }
    &__input,
    &__select,
    &__button{
        margin: 12px;
        padding: 4px;
        width: auto;
        border-radius: 10px;
    }
    &__select .ant-select-selector{
        padding: 0px;
        border-radius: 10px;
    }

    &__select {
        padding: 0px;
    }
    
}