.header{
    background-color: #607196 ;
    display: flex;
    justify-content: start;
    margin: 12px;
    border-radius: 6px;
    border: 1px solid #82A7A6;
    &__name{
        margin: 12px 6px 12px 19px;
        color: white
    }
    &__logo{
        color: white;
        align-items: center;
        font-size: 24px;
    }


}