.registration-page {
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;

  &__form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    min-width: 450px;
    min-height: 450px;
    background-color: #F5F7FA;
    border-radius: 6px;
    border: 2px solid #82A7A6;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 25%);
  }
}