#root {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  background: #202D48;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
}

.layout_divider {
  display: flex;
  flex-direction: row;
}

